.pink {
  padding-top: 2.5rem;
  border-radius: 0.5rem;
  padding-right: 1.875rem;
}

.pink-box {
  border: 0.125rem solid black;
  display: flex;
  padding: 0.1875rem;
  width: 5rem;
  height: 5rem;
  border-radius: 0.625rem;
  margin-right: 2.8125rem;
}
.box-r {
  display: flex;
  background: #fe7fc3;
  flex: 1;
  border-radius: 0.625rem;
}
.p-color {
  color: #fe7fc3;
}
.ul-style {
  font-weight: bold;
  color: #23282b;
  flex: 1;
}
